<%# NOT IN USE  %>

<h2>  ... PRIVATE ...  </h2>
<h3> .... Details of <%= findOneUser.name %>....  </h3>
<ul>
      <li>
        Name: <%= findOneUser.name %><br>
        Gender: <%= findOneUser.gender %><br>
        DOB: <%= findOneUser.dob %><br>
        Profession: <%= findOneUser.profession %><br>
        WealthLevel: <%= findOneUser.wealthLevel %><br>

        <br><br>

      </li>

</ul>
