<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> ASSETS </title>
  </head>

  <body class="container">
    <%# <div class="jumbotron">%>
    <h2>  ... ASSET DESCRIPTION ...  </h2>
    <h3> ....  <%= selectedAsset.assetName %>....  </h3>

<%# method="delete" action="/users/:id"%>
<form class = "editAssetsform">
  <div class="form-group">
    <label for="iD"> Asset ID</label>
    <input type="text" class="form-control" id="asset_iD" value = "<%=selectedAsset._id%>" readonly="readonly" name="newAsset[assetId]">
  </div>
  <div class="form-group">
    <label for="assetName"> Asset Name</label>
    <input type="text" class="form-control" id="assetName" value = "<%=selectedAsset.assetName%>" name="newAsset[assetName]">
  </div>
  <div class="form-group">
    <label for="purchasePrice">Purchase Price</label>
    <input type="text" class="form-control" id="purchasePrice" value = "<%=selectedAsset.purchasePrice%>" name="newAsset[purchasePrice]">
  </div>
  <div class="form-group">
    <label for="sellingPrice">Selling Price</label>
    <input type="text" class="form-control" id="sellingPrice" value = "<%=selectedAsset.sellingPrice%>" name="newAsset[sellingPrice]">
  </div>
  <div class="form-group">
    <label for="assetType">Asset Type</label>
    <input type="text" class="form-control" id="assetType" value = "<%=selectedAsset.assetType%>" name="newAsset[assetType]">
  </div>
  <div class="form-group">
    <label for="onMarket"> On Market</label>
    <input type="text" class="form-control" id="onMarket" value = "<%=selectedAsset.onMarket%>" readonly="readonly" name="newAsset[onMarket]">
  </div>


<%# can put name = "newuser[name]" and password = "newuser[password]" in the name s"%>
        <input type="submit" value = "Modify" id = "editAsset" class="btn btn-success">
        <input type="submit" value = "Delete" id = "deleteAsset" class="btn btn-warning">
        <input type="submit" value = "Available for Sale" id = "putOnSale" class="btn btn-info">
        <input type="submit" value = "Not Selling No More" id = "offSale" class="btn btn-info">
      </form>


  </body>
</html>
